@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/themes/light.css";
@import "~tippy.js/themes/material.css";

#controlAddIn {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
